//客製化變數表
// SCSSS註解

$primary: rgb(191, 24, 224);
$secondary: rgb(79, 168, 250);
$success: rgb(255, 208, 0);
$light: rgb(240, 231, 231);
$dark: rgb(82, 43, 43);

$carousel-control-color: $primary;
